{% sw_extends '@Storefront/storefront/layout/cookie/cookie-permission.html.twig' %}

{% block layout_cookie_permission_inner %}
    {% if theme_config('rhweb-general-activate-cookie-overlay') %}

        {% set acceptAllCookies = config('core.basicInformation.acceptAllCookies') %}

        <div class="cookie-permission-container" data-cookie-permission="true">
            <div class="rhweb-custom-cookie-container">
                <div class="rhweb-custom-cookie-container-inner">
                    <div class="col cookie-permission-content">
                        {{ "cookie.message"|trans({
                            '%url%': path('frontend.cms.page', { id: config('core.basicInformation.privacyPage') })
                        })|raw }}
                    </div>

                    {% if acceptAllCookies %}
                        <span class="js-cookie-accept-all-button">
                            <button
                                type="submit"
                                class="btn btn-block btn-primary mb-2">
                                {{ "cookie.acceptAll"|trans|sw_sanitize }}
                            </button>
                        </span>
                    {% endif %}

                    <span class="js-cookie-configuration-button">
                        <button
                            type="submit"
                            class="btn {{ acceptAllCookies ? 'btn-link' : 'btn-primary' }}">
                            {{ "cookie.configure"|trans|sw_sanitize }}
                        </button>
                    </span>

                    <span class="cookie-permission-button js-cookie-permission-button">
                        <button
                            type="submit"
                            class="btn btn-link">
                            {{ "cookie.deny"|trans|sw_sanitize }}
                        </button>
                    </span>
                </div>
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
